name: CI

on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  build-with-xk6:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: false
      - name: Check build
        run: |
          go version
          
          go install go.k6.io/xk6/cmd/xk6@latest
          MODULE_NAME=$(go list -m)
          
          xk6 build -v \
            --output ./k6ext \
            --with $MODULE_NAME="."
          ./k6ext version

  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
          cache: false
      - name: Run tests
        run: |
          which go
          go version
          go test -race -timeout 60s ./...
